[package]
name = "notedeck"
version = "0.0.1"
edition = "2021"

[dependencies]
tauri = { version = "2", features = [] }
tauri-plugin-opener = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[build-dependencies]
tauri-build = { version = "2", features = [] }

[lib]
name = "notedeck_lib"
crate-type = ["lib", "cdylib", "staticlib"]
